<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../parcial/head.ejs') %> 
    <link href="/css/creationPrduct.css" rel="stylesheet">
</head>
<body>
    <!-- ----------------------HEADER------------------------------->
    <%- include('../parcial/header.ejs') %>
    <!-- ----------------------MAIN----------------------------- -->
    <main>
        <h1 class= "titulo_creacion_producto">Creación de Producto</h1>
        <article class="creacion_producto_main_1">
        <form>
            <label>Nombre del Producto </label>
            <input class="name_product" type="text">
            <label>Modelo</label>
            <input class="model" type="text">
            <label>Color</label>
            <input class="color" type="text">
            <label>Detalle del producto</label>
            <input class="detalle_producto" type="text">
        </form>
    </article>
    <article class="creacion_producto_main_2">
        <div class="cargar_imagen">Cargar imagen</div>
        <div class="img_x_cargar"></div>
    </article>
    </main>
    <!-- ----------------------FOOTER----------------------------- -->
    <%- include('../parcial/footer.ejs') %>
</body>
</html>