<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hola Grupo 2</h1>
    <lu>
        <li><a href="/login">Login</a></li>
        <li><a href="/productCart">Carrito de compra</a></li>
        <li><a href="/productDetail">Detalle de producto</a></li>
        <li><a href="/register">Registro</a></li>
    </lu>
</body>
</html>