<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="css/footer.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/aef00d3210.js" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <footer>
    <section class="footer-section">
        <div clas="conten-contactos">
            <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook iconsfooter" ></i><p class="footer-section__texto">Facebook</p> </a>
        </div>
        <div clas="conten-contactos">
            <i class="fa-brands fa-square-whatsapp iconsfooter"></i><p class="footer-section__texto">Whatsapp</p>
        </div>
        <div clas="conten-contactos">
            <a href="https://www.instagram.com/"><i class="fa-brands fa-square-instagram iconsfooter"></i><p class="footer-section__texto">Instagram: @ikatorino</p> </a>
        </div>
        <div clas="conten-contactos">
            <i class="fa-solid fa-square-phone iconsfooter"></i><p class="footer-section__texto"> 011 - 444 555 222</p>
        </div>
        </section>
    <section class="footer-section--mapa">
        <div class="content-mapa">mapa</div>
    </section>
    </footer>
</body>
</html>