<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./parcial/head.ejs') %>
    <link href="css/main.css" rel="stylesheet">
</head>
<body>
    <%- include('./parcial/header.ejs') %>

    <main class="main">
        <h2>Ofertas de la semana</h2>
        <section class="content-section">
            <article class="content-section-article">
                <div class="div__img-producto">
                    <img src="/img/Torino Autos/fotos_torino_1.jpg" alt="imagenCafetera" class="img-producto">
                </div>
                <div class="content-detalle">
                    <h4>Lorem ipsum, st aut sint.</h4>
                </div>
            </article>
            <article class="content-section-article">
                <div class="div__img-producto">
                    <img src="/img/Torino Autos/fotos_torino_3.jpg" alt="imagenCafetera" class="img">
                </div>
                <div class="content-detalle">
                    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit!</h4>
                </div>
            </article>
            <article class="content-section-article">
                <div class="div__img-producto">
                    <img src="/img/Torino Autos/fotos_torino_4.jpg" alt="imagenCafetera" class="img">
                </div>
                <div class="content-detalle">
                    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit!</h4>
                </div>
            </article>
            <article class="content-section-article">
                <div class="div__img-producto">
                    <img src="/img/Torino Autos/fotos_torino_6.jpg" alt="imagenCafetera" class="img">
                </div>
                <div class="content-detalle">
                    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit!</h4>
                </div>
            </article>
        </section>  
        <h2>Productos destacados</h2>
        <section class="content-section">
            <article class="content-section-article">
                <div class="div__img-producto">
                    <img src="/img/Torino Autos/fotos_torino_1.jpg" alt="imagenCafetera" class="img-producto">
                </div>
                <div class="content-detalle">
                    <h4>Lorem ipsum, st aut sint.</h4>
                </div>
            </article>
            <article class="content-section-article">
                <div class="div__img-producto">
                    <img src="/img/Torino Autos/fotos_torino_3.jpg" alt="imagenCafetera" class="img">
                </div>
                <div class="content-detalle">
                    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit!</h4>
                </div>
            </article>
            <article class="content-section-article">
                <div class="div__img-producto">
                    <img src="/img/Torino Autos/fotos_torino_4.jpg" alt="imagenCafetera" class="img">
                </div>
                <div class="content-detalle">
                    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit!</h4>
                </div>
            </article>
            <article class="content-section-article">
                <div class="div__img-producto">
                    <img src="/img/Torino Autos/fotos_torino_6.jpg" alt="imagenCafetera" class="img">
                </div>
                <div class="content-detalle">
                    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit!</h4>
                </div>
            </article>
        </section>        
    </main>        
    <%- include('./parcial/footer.ejs') %>
</body>
</html>