<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/header.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="content-logo">
            <img src="/img/logo.png" alt="logo" class="img-logo">
        </div>
        <div class="heder-content__lupa-button">
            <!--  Icono boton https://fontawesome.com/-->
            <button class="heder-content__button" ><i class="fa-sharp fa-solid fa-magnifying-glass lupa"></i> </button>
            <input type="text"  placeholder="Buscar productos, marcas" class="heder-content__input" >  
        </div>
        <lu class="lu-menu">
            <li><a href="/login">Login</a></li>
            <li><a href="/productCart">Carrito de compra</a></li>
            <li><a href="/productDetail">Detalle de producto</a></li>
            <li><a href="/register">Registro</a></li>
        </lu>
    </header>
</body>
</html>