<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="css/header.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/footer.css" rel="stylesheet">
</head>
<body>
    <header>
    <h1>Carrito de Compra</h1>
    <a href="/">Voler Menu</a>
    </header>
    <main>
        <section class="sec_1">
            <article class="art">
                <div class="primer_art">
                    <img src="./img/Torino Autos/fotos_torino_1.jpg" class="img_carrito">
                </div>
                <div class="segundo_art">
                    <div class="marca"></div>
                    <div class="precio">$1000</div>
                    <div></div>
                </div>
            </article>
            <article class="art">
                <div class="primer_art">
                    <img src="./img/Torino Autos/fotos_torino_3.jpg" class="img_carrito">
                </div>
                <div class="segundo_art">
                    <div class="marca"></div>
                    <div class="precio">$2000</div>
                    <div></div>
                </div>
            </article>
            <article class="art">
                <div class="primer_art">
                    <img src="./img/Torino Autos/fotos_torino_4.jpg" class="img_carrito">
                </div>
                <div class="segundo_art">
                    <div class="marca"></div>
                    <div class="precio">$5000</div>
                    <div ></div>
                </div>
            </article>
            <article class="art">
                <div class="primer_art">
                    <img src="./img/Torino Autos/fotos_torino_6.jpg" class="img_carrito">
                </div>
                <div class="segundo_art">
                    <div class="marca"></div>
                    <div class="precio">$2500</div>
                    <div></div>
                </div>
            </article>
        </section>
        <section>
        </section>

    </main>
    <footer>

    </footer>
</body>
</html>