<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estiloRegister/estiloHeader.css">
    <link rel="stylesheet" href="/css/estiloRegister/estiloMain.css">
    <link rel="stylesheet" href="/css/estiloRegister/estiloFooter.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <title>Registro</title>
</head>
<body>
    <header class="content-header">
        <div class="caja">Logo</div>
        <div class="caja">Menu</div>
    </header>
    <main class="content-main">
        
        <h1 class="content-main__div-h1">Registro de usuario</h1>
        
        <form action="/register" method="post" class="content-main__form">
                    <h5>NOMBRE USUARIO</h5>
                    <input type="text" name="nombreUsuario">
                    <h5>CONTRASEÑA</h5>
                    <input type="password" name="password">
                    <h5>CONFIRMAR CONTRASEÑA</h5>
                    <input type="password" name="passwordConfirmar">
            <h2>Datos personales</h2>    
                    <h5>NOMBRE / RAZON SOCIAL</h5>
                    <input type="text" name="nombre-razonSocial">
                    <h5>E-MAIL</h5>
                    <input type="email" name="email">
                    <h5>CONFIRMAR E-MAIL</h5>
                    <input type="email" name="emailConfirmar"> 
                    <h5>DIRECCION</h5>
                    <input type="text" name="direccion">
                    <h5>TELEFONO MOVIL</h5>
                    <input type="number" neme="telefono">
            <div>
                <button type="submit">REGISTRARSE</button>
            </div>
        </form>
    </main>
    <a href="/">Voler Menu</a>
</body>
</html>