footer{
    display: flex;
    flex-wrap: nowrap;
    background-color: grey;
    /* flex-direction: column; */
    /* justify-content: space-between; */
    border: solid 2px #000;
}
/* -------------footer-secion-Redes sociales---------------------------------- */
.footer-section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 20px;
    /* border: solid 1px red; */
    /* height: 100px; */
    width: 50%;
    /* margin: 10px; */
    padding-left: 30px;
    justify-content: space-around;
}
/* -------------footer-secion---------------------------------- */
.footer-section--mapa {
    display: flex;
    flex-direction: row;
    font-size: 20px;
   /*  border: solid 1px red; */
    /* height: 100px; */
    width: 50%;
    /* margin: 10px; */
    /* padding-left: 30px; */
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    
}
/* .footer-section__contenido{

} */
.footer-section__texto{
    display:inline-flex;
    padding-left: 5px;
}
.iconsfooter{
    font-size: 30px;
}

.content-mapa{
    height: 100%;
    width: 100%;
}
.mapa{
    height: 100%;
    width: 100%;
} 
