@import url(normalize.css);

.waves {
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;
  }
  
  .content {
    position:relative;
    height:20vh;
    text-align:center;
    background-color: white;
  }
  
  /* Animation */
  
  .parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }

footer{
    display: flex;
    flex-wrap:wrap;
    background-color: rgb(28, 13, 117);
    /* background-color: #4584AF; */
   /*  border: solid 2px #000; */
    /* padding: 5px 0; */
    justify-content: space-evenly;
}

/* -------------footer-secion-Redes sociales---------------------------------- */
.footer-section {
    display: flex;
    font-size: 20px;
    width: 45%;
    padding-left: 30px;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}
/* -------------footer-secion del mapa---------------------------------- */
.footer-section--mapa {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding-right: 5px;
}

/* -------------CajaDelMapa---------------------------------- */
.content-mapa{
    height: 95%;
    width: 95%;
    padding: 22px;
}
/* -------------Mapa---------------------------------- */
.mapa{
    height: 100%;
    width: 100%;

} 
/* -------------iconsRedesSociales---------------------------------- */
.iconsfooter{
    font-size: 30px;
}
/* -------------para poner el nombre al lado del logo-----------*/
.footer-section__texto-facebook,
.footer-section__texto-whatsapp,
.footer-section__texto-instagram,
.footer-section__texto-tel{
    display:inline-flex;
    padding: 25px 15px; /*horizontal y vertica*/
    color: #4584AF;
    /* color: rgb(255, 255, 255); */
}
/* -------------iconsRedesSocialesFacebook---------------------------------- */
.iconsfooter-facebook{
    color: #3b5998;
    font-size: 30px;
}
/* -------------iconsRedesSocialesWhatsapp---------------------------------- */
.iconsfooter-whatsapp{
    color:#25D366;
    font-size: 30px;
}
/* -------------iconsRedesSocialesInstagram---------------------------------- */
.iconsfooter-instagram{
    color: #E1306C;
    font-size: 30px;
}
.iconsfooter-tel{
    color: #006699;
    font-size: 30px;
}
h5{
    width: 95%;
}
@media screen and (min-width:700px){
    
    .waves {
        height:40px;
        min-height:40px;
      }
    
    .content-mapa{
        width: 40%;
        text-align: center;
    }
    .conten-contactos{
        display: flex;
    }
    .mapa{
        height: 100%;
        width: 100%;

    } 
    
    footer {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-around;
    }
    a{
        text-align: center;
    }
}