@import url(normalize.css);
@import url(header.css);
@import url(footer.css);


.image-decription__name{
  font-size: 25px;
  font-family: fangsong;
}
.image-decription__colors{
  font-size: 10px;
  font-size: 19px;
  font-family: fangsong;
}
.image-decription__precio{
  font-size: 30px;
  color: green;
  font-family: fangsong;
}

.content-section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    /* border: solid 1px green; */
    align-content: space-around;
}

.content-section-article{
    margin: 15px;   
    width: 90%;
    text-align: center;
    border: solid 2px #999;
    background-color: rgb(255, 255, 255, 0.5);
    /* padding: 30px; */
    /* border: solid 1px blue; */

}
.content-section-article:hover{
-webkit-box-shadow: 0px 0px 14px 5px rgba(0,21,250,1);
-moz-box-shadow: 0px 0px 14px 5px rgba(0,21,250,1);
box-shadow: 0px 0px 14px 5px rgba(0,21,250,1);
}

.content-detalle{
    /* background-color: rgb(255, 255, 255); */
    margin-top: 15px;
    text-align: center;
    /* display: none; */
}
 .div__img-producto{ 
  height: 150px;
  width: 250px;
}
    /* border: solid 1px red; */
/*     display:block;
    max-width:100%;
    
    height:auto;
    width: 80%;
    height: 80%;
    overflow:hidden; */
/* } */
.img-producto{
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* object-position: left; */
}

@media screen and (min-width:700px){
    .content-section{
        display: flex;
        padding: 5px;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        align-items: stretch;
    }
    .content-section-article{
        width: 254px;
        height: 250px;
        border: solid 2px #999;
        background-color: rgb(255, 255, 255, 0.5);
       /*  border: solid 1px red; */
    }


    .content {
      height:30vh;
    }
    h1 {
      font-size:24px;
    }
  

}