@import url(normalize.css);
@import url(header.css);
@import url(footer.css);

/*------------------------ Interacciones de usuario ----------------------------- */
/*------------------------ Articulos ----------------------------- */
.img{
    display: flex;
    width: 300px;
    align-content: center;
}
/*------------------------  ----------------------------- */