@import url(normalize.css);
@import url(header.css);
@import url(footer.css);


.image-decription__name{
    font-size: 25px;
    font-family: fangsong;
}
.image-decription__colors{
    font-size: 10px;
    font-size: 19px;
    font-family: fangsong;
}
.image-decription__precio{
    font-size: 30px;
    color: rgb(000, 000, 00);
    font-family: fangsong;
}

.content-section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
}

.content-section-article{
    margin: 15px;   
    width: 90%;
    text-align: center;
    border: solid 2px  rgba(137, 0, 0, 0.997);
    background-color: rgba(137, 0, 0, 0.997);
    /* padding: 30px; */
    /* border: solid 1px blue; */

}
.content-section-article:hover{
-webkit-box-shadow: 0px 0px 14px 5px rgba(0,21,250,1);
-moz-box-shadow: 0px 0px 14px 5px rgba(0,21,250,1);
box-shadow: 0px 0px 14px 5px rgba(0,21,250,1);
}

.content-detalle{
    /* background-color: rgb(255, 255, 255); */
    margin-top: 15px;
    text-align: center;
    /* display: none; */
}
.div__img-producto{ 
    height: 150px;
    width: 250px;
}
    /* border: solid 1px red; */
/*     display:block;
    max-width:100%;
    
    height:auto;
    width: 80%;
    height: 80%;
    overflow:hidden; */
/* } */
.img-producto{
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* object-position: left; */
}
.titulo_1_main{
    text-align: center;
    color: rgba(137, 0, 0, 0.997)
}
.titulo_2{
    text-align: center;
    color: rgba(137, 0, 0, 0.997)
}

@media screen and (min-width:700px){
    .content-section{
        display: flex;
        padding: 5px;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        align-items: stretch;
    }
    .content-section-article{
        width: 254px;
        height: 250px;
        border: solid 2px #999;
        background-color: rgb(137, 0, 0, 0.997);
       /*  border: solid 1px red; */
    }


.content {
    height:30vh;
}

h1 {
    font-size:24px;
}
}

/* display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
} */




/* .content-main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.content-main__div-h1{
    border: solid 2px blue;
    width: 90vw;
    text-align: center;
}
.content-main__form{
    border: solid 2px rgb(9, 255, 0);
    width: 90vw;
    text-align: center;
}
.content-main__form-div{
    border: solid 2px red;
}
.sec_1{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.art{
    max-width: 90%;
    padding: 20px;
    border: solid 5px black;
    border-radius: 10%;
    background-color: blue;

}
.img_carrito{
    width: 150px;
    height: 150px;

}
.boton{
    
    background-color: red;
    border-radius: 15%;
    border: solid 2px black;
    text-align: center;
}
.boton:hover{
    background-color: blue;
    border: solid 3px  red;
    box-shadow: inset 3px rgb(9, 255, 0);
}
.art:hover{
    border: solid 3px red;
}
} */
