*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

img{
    width: 100%;
    max-width: 100%;
}

a{
    text-decoration: none;
    color: black;
}

ul li {
    list-style-type: none;
}
body{
    background: rgb(123, 123, 125);
    background: -moz-linear-gradient(left, rgb(123, 123, 125) 0%, rgb(125, 164, 198) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(246,226,90,1)), color-stop(100%, rgba(40,147,240,1)));
    background: -webkit-linear-gradient(left, rgb(123, 123, 125) 0%, rgba(40,147,240,1) 100%);
    background: -o-linear-gradient(left, rgb(123, 123, 125) 0%, rgba(40,147,240,1) 100%);
    background: -ms-linear-gradient(left, rgb(123, 123, 125) 0%, rgba(40,147,240,1) 100%);
    background: linear-gradient(to right, rgb(123, 123, 125) 0%, rgba(40,147,240,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6e25a', endColorstr='#2893f0', GradientType=1 );
}