@import url(normalize.css);
@import url(header.css);
@import url(footer.css);

/* DETALLES */ 
.container-prod-detail{
    margin: 20px;
    background-color: rgb(212, 211, 211);
    border-radius: 10px;
}

.prod-detail{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-left: 20px;
}

.prod-detail p{
    margin: 5px;
}

.prod-price-detail{
    font-size: 24px;
    font-weight: 800;
}
/* IMG */ 
.img-detail-prod{
    width: 100%;
    height: 400px;
    max-height: 700px;
    max-width: 700px;
    padding: 20px;
    border-radius: 10%;
}

/* BOTONES */ 
.div-btns{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content:start;
    flex-wrap: wrap;
    margin: 20px;
}
.btn-prod{
    background: transparent;
    border: none;
    margin: 10px;
}
.fancy {
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 1.25em 2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    user-select: none;
    font-size: 13px;
}

.fancy::before {
    content: " ";
    width: 1.5625rem;
    height: 2px;
    background: black;
    top: 50%;
    left: 1.5em;
    position: absolute;
    transform: translateY(-50%);
    transform-origin: center;
    transition: background 0.3s linear, width 0.3s linear;
}

.fancy .text {
    font-size: 1.125em;
    line-height: 1.33333em;
    padding-left: 2em;
    display: block;
    text-align: left;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

.fancy .top-key {
    height: 2px;
    width: 1.5625rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, left 0.3s ease-out;
}

.fancy .bottom-key-1 {
    height: 2px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy .bottom-key-2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, right 0.3s ease-out;
}

@media screen and (min-width:710px){
    .container-prod-detail{
        display: flex;
        flex-direction: row;
        align-items:center;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .prod-detail{
        margin: 30px 0 30px 0;
    }
    .title-prod-detail{
        font-size: 48px;
    }
    .prod-price-detail{
        font-size: 42px;
    }
    .prod-detail p{
        font-size: 24px;
    }
    .div-btns{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
    }
    .fancy:hover {
        color: white;
        background: black;
    }
    
    .fancy:hover::before {
        width: 0.9375rem;
        background: white;
    }
    
    .fancy:hover .text {
        color: white;
        padding-left: 1.5em;
    }
    
    .fancy:hover .top-key {
        left: -2px;
        width: 0px;
    }
    
    .fancy:hover .bottom-key-1,
        .fancy:hover .bottom-key-2 {
        right: 0;
        width: 0;
    }
}
