@import url(normalize.css);
@import url(header.css);
@import url(footer.css);


 .profileImage{
    display: flex;
    height: 250px;
    width: 250px;
    border: solid 10px black;
    align-content: center;
}
.fotoPerfil{
    display: flex;
    align-content : center ;
    padding-left: 18%;
    
}
.titleUser{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    
    align-content: space-around;

}
.datosUsuario{
 
    display: flex;
    justify-content: end;
    flex-direction: column;
    text-align: center;
    padding-left: 10%;
    align-content: space-around; 
    
    
} 
.imagenDePerfil{
    display: flex;
    width: 400px;
    padding: 10px;
} 
