@import url(normalize.css);
@import url(header.css);
@import url(footer.css);

.userProfile{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 50px;
}
.profileImage{
    height: 250px;
    width: 250px;
    border: solid 7px black;
    border-radius: 10px;
    margin: 10px;
}
.datosUsuario{
    text-align: center;
}
.datosUsuario h2{
    font-size: 36px;
    text-decoration: underline;
}
.datosUsuario h3{
    margin: 10px;
    text-decoration: underline;
}
