@import url(normalize.css);
@import url(header.css);
@import url(footer.css);


.profileImage{
    width: 400px;
    padding: 10px;
}
.fotoPerfil{
    justify-content: center;
    background-color:rgb(170, 1, 1); 
    width: fit-content;
}
.titleUser{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    background-color: firebrick;
    align-content: space-around;

}
.datosUsuario{
 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    background-color: firebrick;
    align-content: space-around; 
    
    
}
.imagenDePerfil{
    display: flex;
    width: 400px;
    padding: 10px;
}