<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erro 404</title>
    <link href="css/main.css" rel="stylesheet">
    <%- include('./parcial/head.ejs') %>
</head>
<body>
    <%- include('./parcial/header.ejs') %>
    <div>
        <a href="/">
        <img src="/img/error404.png" alt="error404" class="error404">
        </a>    
    </div>
</body>
</html>