<header>
    <section id="headerTop">
        <figure id ="logo">
            <a href="/">
                <img src="/img/logo.svg"  alt="logo">
            </a>
        </figure>
        <section class="searchBar">
            <form action="/search" method="POST">
                <div class="searchBox">
                    <input type="text" placeholder="Busca tu torino" required="">
                </div>
                <div class="lupa">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </div>
            </form>
        </section>    
            <ul class="navBar">
                <li><a href="register">Registrate<i class="far fa-id-card"></i></a></li>
                <li><a href="login">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="productCart">Mis compras<i class="fas fa-shopping-cart"></i></a></li>
            </ul>
    </section>  
</header>