<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% console.log(resultados) %>
    <% if(resultados.length > 0){ %>
        <% resultados.forEach(productos => { %>
            <lu>
                <li>
                    <a href="/product/list/<%= productos.id_product %>"><%= productos.name %></a>
                </li>
            </lu>
            <% }) %>
    <% }else{ %>
        <h1>No hay resultados</h1>
    <% } %>
</body>
</html>