<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../../parcial/head.ejs') %>
            <link href="css/productsSearch.css" rel="stylesheet">
    </head>
<body>
    <%- include('../../parcial/header.ejs') %>
    <% if(resultados.length > 0){ %>
        <% resultados.forEach(productos => { %>
            <lu>
                <li>
                    <a href="/product/list/<%= productos.id_product %>"><%= productos.name %></a>
                </li>
            </lu>
            <% }) %>
    <% }else{ %>
        <h1>No hay resultados</h1>
    <% } %>
</body>
</html>