<!DOCTYPE html>
<html lang="en">
    <head>     
        <%- include('../parcial/head.ejs') %>
        <link href="css/login.css" rel="stylesheet">
    </head>
<body>
    <!-- ----------------------HEADER----------------------------- -->
    <%- include('../parcial/header.ejs') %>
    <!-- ----------------------MAIN----------------------------- -->
    <main>
        <div class="container">
        
                    <h1 class="h1-main">Ingresá a Ika Torino</h1>
            <form action="#" method="post">
                <div class="nombre">
                    <label for="nombre" class="descripcion"> Ingrese su nombre</label> <br>
                    <input type="text" name="nombre" class="form-input" placeholder="Indique su nombre" required > <br>

                </div>
                <div class="clave">
                    <label for="clave" class="descripcion"> Ingrese su clave</label> <br>
                    <input type="password" name="clave" class="form-input" placeholder="Indique su clave" required > <br>
                                    
                </div>
                <div class="acceder">
                    
                    <input class="boton" type="submit" value="Acceder" > <br>
                                    
                </div>
            </form>
        </div>

    </main>
    <!-- ----------------------FOOTER----------------------------- -->
    <%- include('../parcial/footer.ejs') %>
</body>
</html>