<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../parcial/head.ejs') %> 
    <link href="css/creationPrduct.css" rel="stylesheet">
</head>
<body>
    <%- include('../parcial/header.ejs') %>
    <main>Creación de Prodcto</main>
    <%- include('../parcial/footer.ejs') %>
</body>
</html>