<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../parcial/head.ejs') %> 
    <link href="css/creationPrduct.css" rel="stylesheet">
</head>
<body>
    <!-- ----------------------HEADER------------------------------->
    <%- include('../parcial/header.ejs') %>
    <!-- ----------------------MAIN----------------------------- -->
    <main>
        <h1 class= "titulo_creacion_producto">Creación de Producto</h1>
        <article class="creacion_producto_main_1">
        <h2 class="nombre_producto">Nombre del Producto</h2>
        <h2 class="modelo_producto">Modelo</h2>
        <h2 class="color_producto">Color</h2>
        <h2 class="detalle_producto">Detalle</h2>
    </article>
    <article class="creacion_producto_main_2">
        <div class="cargar_imagen">Cargar imagen</div>
        <div class="img_x_cargar"></div>
    </article>
    </main>
    <!-- ----------------------FOOTER----------------------------- -->
    <%- include('../parcial/footer.ejs') %>
</body>
</html>