<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../parcial/head.ejs') %>
    <link href="css/listProduct.css" rel="stylesheet">
</head>
<body>
    <!-- ----------------------HEADER------------------------------->
    <%- include('../parcial/header.ejs') %>
    <!-- ----------------------MAIN------------------------------->
    <main>Lista de Productos</main>
    <h1>Productos</h1>
    <section class="interacciones-main">
        <div>
            <input type="submit" value="Buscar">
        </div>
        <div>
            <input type="submit" value="Editar" >
        </div>
        <div>
            <input type="submit" value="Eliminar">
        </div>
        <div>
            <input type="submit" value="Agregar">
        </div>
        
    </section>
    <section>
        <article>

        </article>
    </section>
     

    <!-- ----------------------FOOTER----------------------------- -->
    <%- include('../parcial/footer.ejs') %>
</body>
</html>