<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../parcial/head.ejs') %>
    <link href="css/listProduct.css" rel="stylesheet">
</head>
<body>
    <!-- ----------------------HEADER------------------------------->
    <%- include('../parcial/header.ejs') %>
    <!-- ----------------------MAIN------------------------------->
    <main><h1>Lista de Productos</h1>
    <h2>Productos</h2>
    <section class="interacciones-main">
        <div>
            <input type="submit" value="Buscar"><input type="text">
        </div>
        <div>
            <input type="submit" value="Editar" >
        </div>
        <div>
            <input type="submit" value="Eliminar">
        </div>
        <div>
            <input type="submit" value="Agregar">
        </div>
        
    </section>
    <section class="content-section">
        <article class="content-section-article">
            <div class="div__img-producto">
                <img src="/img/Torino Autos/fotos_torino_1.jpg" alt="imagenCafetera" class="img">
            </div>
            <div >
                <h4>Torino 1</h4>
                <p>$ 150.550</p>
                <p> Color: Bordó</p>
                
            </div>
        </article>
        <article class="content-section-article">
            <div class="div__img-producto">
                <img src="/img/Torino Autos/fotos_torino_3.jpg" alt="imagenCafetera" class="img">
            </div>
            <div >
                <h4>Torino 2</h4>
                <p>$ 500.000</p>
                <p> Color: Rojo</p>
            </div>
        </article>
        <article class="content-section-article">
            <div class="div__img-producto">
                <img src="/img/Torino Autos/fotos_torino_4.jpg" alt="imagenCafetera" class="img">
            </div>
            <div >
                <h4>torino 3</h4>
                <p>$ 400.400</p>
                <p> Color: Blanco</p>
            </div>
        </article>
        <article class="content-section-article">
            <div class="div__img-producto">
                <img src="/img/Torino Autos/fotos_torino_6.jpg" alt="imagenCafetera" class="img">
            </div>
            <div >
                <h4>torino 4</h4>
                <p>$ 180.000</p>
                <p>Color: Naranja</p>
            </div>
        </article>
    </section>
     
</main>
    <!-- ----------------------FOOTER----------------------------- -->
    <%- include('../parcial/footer.ejs') %>
</body>
</html>