<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../parcial/head.ejs') %>
    <link href="css/listProduct.css" rel="stylesheet">
</head>
<body>
    <!-- ----------------------HEADER------------------------------->
    <%- include('../parcial/header.ejs') %>
    <!-- ----------------------MAIN------------------------------->
    <main>Lista de Productos</main>
    <h1>Productos</h1>
    <ul><li>Nombre</li>
        <li>Precio</li>
        <li>Editar</li>
        <li>Eliminar</li>
        <ul>
     

    <!-- ----------------------FOOTER----------------------------- -->
    <%- include('../parcial/footer.ejs') %>
</body>
</html>