<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../parcial/head.ejs') %>
    <link href="css/listProduct.css" rel="stylesheet">
</head>
<body>
    <%- include('../parcial/header.ejs') %>
    <main>Lista de Productos</main>
    <%- include('../parcial/footer.ejs') %>
</body>
</html>