<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../parcial/head.ejs') %>
    <link href="css/productDetail.css" rel="stylesheet">
</head>
<body>
    <%- include('../parcial/header.ejs') %>
    <h1>Detalle del producto</h1>
    <a href="/">Voler Menu</a>


    <!-- ----------------------FOOTER----------------------------- -->
    <%- include('../parcial/footer.ejs') %>
</body>
</html>