<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <script src="https://kit.fontawesome.com/aef00d3210.js" crossorigin="anonymous"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <title>Carrito de Compra</title>
        <link href="css/productCart.css" rel="stylesheet">
    </head>
<body>
    <%- include('../parcial/header.ejs') %>
        <main>
            <section class="sec_1">
                <article class="art">
                    <div class="primer_art">
                        <img src="./img/Torino Autos/fotos_torino_1.jpg" class="img_carrito">
                    </div>
                    <div class="segundo_art">
                        <div class="marca">AUTO 1</div>
                        <div class="precio">$1000</div>
                        <div class="COMPRAR">COMPRAR</div>
                    </div>
                </article>
                <article class="art">
                    <div class="primer_art">
                        <img src="./img/Torino Autos/fotos_torino_3.jpg" class="img_carrito">
                    </div>
                    <div class="segundo_art">
                        <div class="marca">AUTO 2</div>
                        <div class="precio">$2000</div>
                        <div class="COMPRAR">COMPRAR</div>
                    </div>
                </article>
                <article class="art">
                    <div class="primer_art">
                        <img src="./img/Torino Autos/fotos_torino_4.jpg" class="img_carrito">
                    </div>
                    <div class="segundo_art">
                        <div class="marca">AUTO 3</div>
                        <div class="precio">$5000</div>
                        <div class="COMPRAR">COMPRAR</div>
                    </div>
                </article>
                <article class="art">
                    <div class="primer_art">
                        <img src="./img/Torino Autos/fotos_torino_6.jpg" class="img_carrito">
                    </div>
                    <div class="segundo_art">
                        <div class="marca">AUTO 4</div>
                        <div class="precio">$2500</div>
                        <div class="COMPRAR">COMPRAR</div>
                    </div>
                </article>
            </section>
            <section class="ultima_section">
                <article class="ultimo_articulo">$$$$$$
                    <div class="DESCUENTO">¡SUPER DESCUENTO!  =  $$$$$$</div>
                    <div class="X-V">
                        <div class="cruz"><i class="fa-solid fa-xmark"></i></div>
                        <div class="V"><i class="fas fa-check"></i></div>
                    </div>
                </article>
            </section>
    
        </main>

    <!-- ----------------------FOOTER----------------------------- -->
    <%- include('../parcial/footer.ejs') %>
</body>
</html>