<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../../parcial/head.ejs') %>
        <link href="/css/userRegister.css" rel="stylesheet">
    </head>
<body>
    <%- include('../../parcial/header.ejs') %>
    
 <br><br><h1>REGISTRARSE</h1><br><br><br>
<form action="/users/register" method="post" class="form-user-register"><br>
    <label>Nombre:</label>
    <input type="text" name="firstName" placeholder="Ej: Michael"><br><br>
    <label>Apellido:</label>
    <input type="text" name="lastName" placeholder="Ej: Jackson"><br><br>
    <label>Fecha de nacimiento:</label>
    <input type="date" name="date"><br><br>
    <label>Email:</label>
    <input type="email" name="email" placeholder="Ej: ika-concesionaria@info.com"><br><br>
    <label>Contraseña:</label>
    <input type="password" name="password" placeholder="Ej: Contraseña"><br><br>
    <label>Imagen:</label>
    <input type="file" name="image"> <br><br>

    <input type="submit"><br><br>
</form>
    <%- include('../../parcial/footer.ejs') %>
</body>
</html>