<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../../parcial/head.ejs') %>
        <link href="/css/productList.css" rel="stylesheet">
    </head>
<body>
    <%- include('../../parcial/header.ejs') %>
<h1>Registro</h1>
<form action="/users/register" method="post">
    <input type="submit">
</form>
    <%- include('../../parcial/footer.ejs') %>
</body>
</html>