<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../parcial/head.ejs') %>
    <link href="/css/productList.css" rel="stylesheet" />
  </head>
  <body>
    <!-- header -->
    <%- include('../../parcial/header.ejs') %>

    <h1>Registro</h1>
    <main>
      <ul class="errores alert-warning"></ul>
      <form action="/users/register" method="post" class="form">
        <div class="name">
          <label for="name">Nombre</label>
          <input type="text" name="first_name" id="name" class="name-input" />
        </div>

        <div>
          <label for="name">Apellido</label>
          <input
            type="text" name="lastName" id="last_name"class="lastName-input"/>
        </div>

        <div>
          <label for="email">Email</label>
          <input type="email" name="email" id="email" />
        </div>

        <div>
          <label for="password">Contraseña</label>
          <input type="text" name="password" id="password" />
        </div>

        <div>
          <label for="birthDate">Fecha de nacimiento:</label>
          <input type="date" name="birth_date" id="mail" />
        </div>
        <div>
          <label>Imagen:</label>
          <input type="file" name="image" id="image" />
        </div>


        <button type="submit">Enviar formulario</button>
      </form>
    </main>

    <!-- script para el form -->
    <script src="/js/index.js"></script>

    <!-- footer -->
    <%- include('../../parcial/footer.ejs') %>
  </body>
</html>
