<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../parcial/head.ejs') %>
    <link href="/css/userRegister.css" rel="stylesheet" />
  </head>
  <body>
    <!-- header -->
    <%- include('../parcial/header.ejs') %>

    <!-- <main class="register-form">
      <h1 class="register-title">Registro</h1>
      <ul class="errores alert-warning"></ul>
      <form action="/users/register" method="post" class="form">
          <input class="register-input" type="text" name="firstName" id="name" placeholder="Nombre" />

          <input type="text" name="lastName" id="last_name" class="register-input" placeholder="Apellido"/>

          <input type="email" name="email" id="email" class="register-input" placeholder="Email"/>

          <input type="password" name="password" id="password" class="register-input" placeholder="Contrasena" />

          <input type="date" name="birth_date" id="mail" class="register-input" placeholder="Fecha de Nacimiento"/>

          <input type="file" name="image" id="image" class="register-input" />


        <button class="btn-form" type="submit">Enviar formulario</button>
      </form>
    </main> -->
<form action="/users/register" method="post" class="form">
  <div class="container">
    <div class="card">
        <a class="login">Registrate!</a>
        <div class="inputBox">
            <input name="firstName" id="name" type="text" required="required">
            <span class="user">Nombre</span>
        </div>

        <div class="inputBox">
          <input name="lastName" id="last_name" type="text" required="required">
          <span class="user">Apellido</span>
        </div>

        <div class="inputBox">
          <input name="email" id="email" type="email" required="required">
          <span class="user">Email</span>
        </div>

        <div class="inputBox">
          <input name="password" id="password" type="password" required="required">
          <span class="user">Contrasena</span>
        </div>

        <div class="inputBox">
          <input name="birth_date" id="mail" type="date" required="required">
        </div>

        <div class="inputBox">
          <input name="image" id="image" type="file" required="required">
        </div>

        <button class="enter">Enviar</button>

    </div>
  </div>
</form>


    <!-- script para el form -->
    <script src="/js/index.js"></script>

    <!-- footer -->
    <%- include('../parcial/footer.ejs') %>
  </body>
</html>
