<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../parcial/head.ejs') %>
    
    <link href="/css/userProfile.css" rel="stylesheet">
</head>
<body>
    
    <%- include('../parcial/header.ejs') %> <br> <br>
    <main >
        <section class="fotoPerfil">
            <div class="profileImage">
            <img src="/img/avatar/avatar.jpg">
            
        </div>
        <div class="SubirImagenPerfil">
            <label for="productImage" class="form-label">Subí tu foto aquí:</label>
            <input type="file" id="productImage" name="image">
        </div>
        </section> 
        <br> <br>
            <div class="titleUser">
            <h1> <b> Perfil de usuario <b> </h1>
        </div>
        <section class="datosUsuario">
            <h2> <b>Datos de Usuario</b> </h2>
            <h3> Nombre: Lionel Messi </h3>
            <h3> Correo Electrónico: lionelmessi10@gmail.com  </h3>
            <h3> Fecha De Nacimiento: 10/10/1010 </h3>
            
        </section>
    </main>
    <%- include('../parcial/footer.ejs') %>
</body>
</html>