
<footer>
    <ul class="wrapper">
        <li class="icon facebook">
            <span class="tooltip"><a href="https://www.facebook.com/" target="_blank"></a>Facebook</span>
            <span><i class="fab fa-facebook-f"></i></span>
        </li>
        <li class="icon whatsapp">
            <span class="tooltip"><a href="https://web.whatsapp.com/" target="_blank"></a>Whatsapp</span>
            <span><i class="fab fa-whatsapp"></i></span>
        </li>
        <li class="icon instagram">
            <span class="tooltip"><a href="https://www.instagram.com/" target="_blank"></a>Instagram</span>
            <span><i class="fab fa-instagram"></i></span>
        </li>
    </ul>
    <button class="button-footer">
        <div class="text">
            <span>Volver</span>
            <span>arriba</span>
        </div>
        <div class="clone">
            <span>Volver</span>
            <span>arriba</span>
        </div>
        <svg width="20px" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
        </svg>
    </button>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.0168878895347!2d-58.38375908524316!3d-34.603734465005004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4aa9f0a6da5edb%3A0x11bead4e234e558b!2sObelisco!5e0!3m2!1ses!2sar!4v1678333330051!5m2!1ses!2sar" 
    width="600" height="250" style="border:2;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <p class="copy-footer">- 2023 Concesionaria Torino - Todos los derechos reservados</p>
    <span class="copy-footer">Pagina Web realizada por 
        <span class="creators"><p>~ AGREGARSE</p><p>~ Sebastian Velazquez</p><p>~ Thomás Manzone</p><p>~ NicoAbdala</p></span>
    </span>
    </footer>