<footer>
    <!-- <section class="footer-sectison"> -->
        <div class="conten-contactos">
            <a href="https://www.facebook.com/">
            <i class="fa-brands fa-facebook iconsfooter-facebook" ></i>
            <p class="footer-section__texto-facebook">Facebook</p> </a>
        </div>
        <div class="conten-contactos">
            <a href="https://web.whatsapp.com/">
            <i class="fa-brands fa-square-whatsapp iconsfooter-whatsapp"></i>
            <p class="footer-section__texto-whatsapp">Whatsapp</p> </a>
        </div>
        <div class="conten-contactos">
            <a href="https://www.instagram.com/">
            <i class="fa-brands fa-square-instagram iconsfooter-instagram"></i>
            <p class="footer-section__texto-instagram">Instagram: @ikatorino</p> </a>
        </div>
        <div class="conten-contactos">
            <a href="">
            <i class="fa-solid fa-square-phone iconsfooter-tel"></i>
            <p class="footer-section__texto-tel"> 011 - 444555222 </p></a>
        </div>
        <!-- </section> -->
    <!-- <section class="footer-section--mapa"> -->
        <div class="content-mapa">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2631.7359640511695!2d-58.38243769150408!3d-34.60386940382987!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4aa9f0a6da5edb%3A0x11bead4e234e558b!2sObelisco!5e0!3m2!1ses!2sar!4v1671469564757!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="mapa"></iframe>
        </div>
    <!-- </section> -->
    <!-- <h5>Derechos reservados </h5> -->
    <!-- <div> -->

    </footer>
