
<footer>
    <ul class="wrapper">
        <li class="icon facebook">
            <span class="tooltip"><a href="https://www.facebook.com/" target="_blank"></a>Facebook</span>
            <span><i class="fab fa-facebook-f"></i></span>
        </li>
        <li class="icon whatsapp">
            <span class="tooltip"><a href="https://web.whatsapp.com/" target="_blank"></a>Whatsapp</span>
            <span><i class="fab fa-whatsapp"></i></span>
        </li>
        <li class="icon instagram">
            <span class="tooltip"><a href="https://www.instagram.com/" target="_blank"></a>Instagram</span>
            <span><i class="fab fa-instagram"></i></span>
        </li>
    </ul>
    <button>
        <div class="text">
            <span>Volver</span>
            <span>arriba</span>
        </div>
        <div class="clone">
            <span>Volver</span>
            <span>arriba</span>
        </div>
        <svg width="20px" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
        </svg>
    </button>
    <p class="copy-footer">- 2023 Concesionaria Torino - Todos los derechos reservados</p>
    <span class="copy-footer">Pagina Web realizada por 
        <span class="creators"><p>~ AGREGARSE</p><p>~ Thomás Manzone</p><p>~ NicoAbdala</p></span>
    </span>
    </footer>