<header>
    <section id="headerTop">
        <div class="figure-logo">
            <a href="/" class="logoIKA">
                <img src="/img/LogoIKA.png"  alt="logo">
            </a>
            <a href="/" class="logoRenault">
                <img src="/img/LogoRenault.png"  alt="logo">
            </a>
        </div>

        <div class="searchBar">
            <form action="/product/search" method="GET">
                <div class="searchBox">
                    <input type="text" placeholder="Buscar" name="search">
                </div>
            </form>
        </div>    

        <i class="fa-sharp fa-solid fa-bars lista-hamburguesa"></i>
        <div class="content-navBar">
            <!-- Seccion para administradores, terminar mas tarde  -->
            <div>
                <ul class="navBar">
                    <li class="navBar-lista"><a href="/product/create">Crear Producto</a></li>
                    <li class="navBar-lista"><a href="/product/list">Listado de Productos</a></li>
                </ul>
            </div>
            <div>
                <ul class="navBar">
                    <% if (locals.isLogged) { %>    
                        <li class="navBar-lista"><a href="/user/userProfile"><%= locals.userLogged.firstName %><img src="/img/avatar/<%= locals.userLogged.image %>"></a></li>
                        <li class="navBar-lista"><a href="/user/logout">Salir</li>
                        <li class="navBar-lista"><a href="/products/productCart">Carrito</a></li>
                    <% }else { %> 
                        <li class="navBar-lista"><a href="/users/register">Registrate</a></li>
                        <li class="navBar-lista"><a href="/users/login">Ingresá</i></a></li>
                    <% } %> 
                </ul>
            </div>
        </div>
        
    </section>  
    <div class="content-banner">
        <img src="/img/index/banner.webp" class="img-banner">
    </div>
</header>