<header>
    <section id="headerTop">
        <div class="figure-logo">
            <a href="/" class="logoIKA">
                <img src="/img/LogoIKA.png"  alt="logo">
            </a>
            <a href="/" class="logoRenault">
                <img src="/img/LogoRenault.png"  alt="logo">
            </a>
        </div>
        <section class="searchBar">
            <form action="/search" method="POST">
                <div class="searchBox">
                    <input type="text" placeholder="Busca tu torino" required="">
                </div>
                <div class="lupa">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </div>
            </form>
        </section>    
        <i class="fa-sharp fa-solid fa-bars lista-hambuerguesa"></i>
        <div class="content-navBar">
            <!-- Seccion para administradores, terminar mas tarde  -->
            <div>
                <ul class="navBar">
                    <li class="navBar-lista"><a href="product/create">Crear de Producto<i class="fa-sharp fa-solid fa-pen-to-square icono"></i></a></li>
                    <li class="navBar-lista"><a href="product/list">Listado de Productos<i class="fa-solid fa-list icono"></i></a></li>
                </ul>
            </div>
            <div>
                <ul class="navBar">
                    <% if (locals.isLogged) { %>    
                        <li class="navBar-lista"><a href="/user/userProfile"><%= locals.userLogged.firstName %><img src="/img/avatar/<%= locals.userLogged.image %>" class="icons-profile"></a></li>
                        <li class="navBar-lista"><a href="/user/logout">Salir</li>
                        <li class="navBar-lista"><a href="/products/productCart">Carrito<i class="fa-solid fa-cart-plus icono"></i></a></li>
                    <% }else { %> 
                        <li class="navBar-lista"><a href="/user/register">Registrate<i class="far fa-id-card icono"></i></a></li>
                        <li class="navBar-lista"><a href="/user/login">Ingresá<i class="fas fa-sign-in-alt icono"></i></a></li>
                    <% } %> 
                </ul>
            </div>
        </div>
        
    </section>  
    <div class="content-banner">
        <img src="/img/index/banner.webp" class="img-banner">
    </div>
</header>