<header>
    <section id="headerTop">
        <div class="figure-logo">
            <a href="/" class="logoIKA">
                <img src="/img/LogoIKA.png"  alt="logo">
            </a>
        </div>

        <div class="searchBar">
            <form action="/search" method="GET">
                <div class="searchBox">
                    <input type="text" placeholder="Buscar" name="search">
                </div>
            </form>
        </div>    

        <button id="lista-hamburguesa">
            <i class="fa-sharp fa-solid fa-bars lista-hamburguesa"> </i>
        </button >
        
        <div  id="content-navBar">
            <div>
                <ul class="navBar">
                    <% if (locals.isLogged && locals.userLogged.id_category===1) { %>  
                    <li class="navBar-lista"><a href="/product/create">Crear Producto</a></li>
                    <% } %> 
                    <li class="navBar-lista"><a href="/product/list">Todos los Productos</a></li>
 
                    <% if (locals.isLogged) { %>    
                        <li class="navBar-lista"><a href="/users/userProfile"><img src="/img/avatar/<%= locals.userLogged.image %>" class="avatar"><%= locals.userLogged.first_name +' '+  locals.userLogged.last_name %></a></li>
                        <li class="navBar-lista"><a href="/users/logout">Salir</a></li>
                        <% }else { %> 
                            <li class="navBar-lista"><a href="/users/register">Registrate</a></li>
                            <li class="navBar-lista"><a href="/users/login">Ingresá</i></a></li>
                            <% } %> 
                            <li class="navBar-lista"><a href="/product/productCart">Carrito</a></li>
                </ul>
            </div>
        </div>

    </section>  
    <div class="content-banner">
        <img src="/img/index/banner.jpg" class="img-banner">
        <div class="bar left"></div>
        <div class="bar top"></div>
        <div class="bar right"></div>
        <div class="bar bottom"></div>
    </div>
    <script src="/js/header.js"></script>
</header>